/* Стилизація проєкта -*/
/* index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/
/* user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/* блоки з короткою іфною про post - в ряд по 5 .*/
/* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/* Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #d0d9de;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    overflow-X: hidden;
}

h1 {
    background: linear-gradient(152deg, #bf8d39 0%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.render {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 3vh;
    padding-bottom: 3vh;
    width: 100vw;
}

.userBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    box-shadow: 1vh 1vh 1vh black;
    background: linear-gradient(152deg, #bf8d39 0%, #000 100%);
    height: 14vh;
    width: 40vw;
}

.userData {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    transition: 0.5s;
    color: white;
}

.userBut {
    margin: 20px 0 0 0;

    font-family: monospace;
    font-size: 25px;

    border-radius: 10px;
    border: none;
    box-shadow: 1vh 1vh 1vh black;
    background: linear-gradient(152deg, #f3f1f6 0%, #000 100%);

    transition: 0.5s;

    width: 150px;
    height: 50px;
}

.userBut:hover {
    background: linear-gradient(152deg, #bf8d39 0%, #000 100%);
    color: white;
    transform: translateY(-0.7vh);
    transition: 0.5s;
}

/*=======================================================================*/
.renderDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2.5vh;
    padding-bottom: 2.5vh;
    width: 100vw;
}

.userDetails, .renderPost {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: start;
    flex-direction: column;
    color: white;
    padding: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 1vh 1vh 1vh black;
    background: linear-gradient(152deg, #bf8d39 0%, #000 100%);
    width: 90%;
}

.userDetails div, .renderPost div {
    padding-left: 70px;
    font-family: monospace;
    font-size: 25px;
}

.posts {
    height: 60px;
    width: 90%;
}

.renderPosts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    width: 90%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.divPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 1vh 1vh 1vh black;
    background: linear-gradient(152deg, #e4d5ef 0%, #000 100%);
    color: white;
    width: 16vw;
}

.show-post {
    opacity: 1;
}

h6 {
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12vw;
}

/*=======================================================================*/

.renderComments{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 3vh;
    gap: 2vh;
    width: 90%;
}

.comDiv {
    /*height: 30vh;*/
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 1vh 1vh 1vh black;
    background: linear-gradient(152deg, #e4d5ef 0%, #000 100%);
    color: white;
    width: 21vw;
}

.prev {
    position: absolute;
    top: 15vh;
    right: 6vw;
}